{% extends 'base-crud.html' %}
{% block title %}Novo Paciente{% endblock %}
{% load static %}
{% block content %}
<h1 class="mt-5">
    Cadastrar Novo Paciente
</h1>
<hr>
{% if error %}<p>{{ error }}</p>{% endif %}
<form action="{% url 'novo-paciente' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mb-3">
            <!-- <label for="nome" class="form-label"> -->
                
                <!-- Nome -->
                <div class="mb-4">
                    <label for="nome" class="form-label fw-semibold">
                        <i class="bi bi-person me-1 text-primary"></i>
                        Nome do Paciente
                    </label>
                    <input type="text" class="form-control form-control-lg" id="nome" name="nome" required>
                </div>


                <div class="row">
                    <!-- CPF -->
                    <div class="col-md-6 mb-4">
                        <label for="cpf" class="form-label fw-semibold">
                            <i class="bi bi-card-text me-1 text-primary"></i>
                            CPF
                        </label>
                        <input type="text" class="form-control form-control-lg" id="cpf" name="cpf" placeholder="000.000.000-00" required>
                    </div>


                    <!-- Telefone -->
                    <div class="col-md-6 mb-4">
                        <label for="telefone" class="form-label fw-semibold">
                            <i class="bi bi-telephone me-1 text-primary"></i>
                            Telefone
                        </label>

                        <input type="tel" class="form-control form-control-lg" id="telefone" name="telefone" placeholder="(00) 00000-0000" required>
                    </div>
                </div>


                <div class="row">
                    <!-- E-mail -->
                    <div class="col-md-7 mb-4">
                        <label for="email" class="form-label fw-semibold">
                            <i class="bi bi-envelope me-1 text-primary"></i>
                            E-mail
                        </label>
                        <input type="email" class="form-control form-control-lg" id="email" name="email" required>
                    </div>


                    <!-- Data de nascimento -->
                    <div class="col-md-5 mb-4">
                        <label for="data_nascimento" class="form-label fw-semibold">
                            <i class="bi bi-calendar-event me-1 text-primary"></i>
                            Data de Nascimento
                        </label>
                        <input type="date" class="form-control form-control-lg" id="data_nascimento" name="data_nascimento" placeholder="DD/MM/AAAA" required>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <label for="sintomas" class="form-label">
                        Sintomas:
                    </label>
                    <textarea class="form-control" rows="3" name="sintomas" id="sintomas"></textarea>
                </div>
                
                <div class="row">
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">

                            Cadastrar
                        </button>
                    </div>
                </div>
</form>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}